// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as AgentAPI from './agent';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class Batch extends APIResource {
  /**
   * Run a batch of agents with the specified tasks using a thread pool.
   */
  run(params: BatchRunParams, options?: RequestOptions): APIPromise<BatchRunResponse> {
    const { body } = params;
    return this._client.post('/v1/agent/batch/completions', { body: body, ...options });
  }
}

export interface BatchRunResponse {
  /**
   * The unique identifier for the agent batch completion.
   */
  batch_id?: string | null;

  /**
   * The execution time of the agent batch completion.
   */
  execution_time?: number | null;

  /**
   * The outputs generated by the agent.
   */
  results?: unknown;

  /**
   * The timestamp when the agent batch completion was created.
   */
  timestamp?: string | null;

  /**
   * The total number of requests in the batch.
   */
  total_requests?: number | null;
}

export interface BatchRunParams {
  body: Array<AgentAPI.AgentCompletion>;
}

export declare namespace Batch {
  export { type BatchRunResponse as BatchRunResponse, type BatchRunParams as BatchRunParams };
}
